.custom-container{
    max-width: 1164px;
    padding: 0 12px;
    margin: 0 auto;
}
      .partnersslider_track {
        @apply w-[calc(268px*_5)];
      }

      .partners_slider_track:hover {
        animation-play-state: paused;
      }
      .footer_bg{
    background-image: url('../images/privacy/webp/footer-bg.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


