/*  ================== ROOT =================== */

:root {
    --color-yellow: #FFCC02;
    --color-light-green: #A7E45F;
    --color-dark-gray: #EBEBEB;
    --color-gray: #CCCCCC;
    --color-light-blue: #BEDCFE;
    --color-green: #76BD3D;
    --color-white-gray: #F0F0EA;

    --fs-lg: 28px;
    --fs-xl: 32px;
    --fs-4xl: 94px;
    /*after compelete chage */
}

/*=========================================== DEFINE-ALL = Fs-SIZES ========================================== */

@media (max-width: 1299.98px) {
    :root {
        --fs-lg: 28px;
        --fs-xl: 32px;
        --fs-4xl: 94px;
    }
}

@media (max-width: 991.98px) {
    :root {
        --fs-lg: 28px;
        --fs-xl: 32px;
        --fs-4xl: 94px;
    }
}

@media (max-width: 767.98px) {
    :root {
        --fs-lg: 28px;
        --fs-xl: 32px;
        --fs-4xl: 94px;
    }
}

@media (max-width: 575.98px) {
    :root {
        --fs-lg: 28px;
        --fs-xl: 32px;
        --fs-4xl: 94px;
    }
}

/*=========================================== DEFINE-ALL = Fs-SIZES ========================================== */
.fs-lg {
    font-size: var(--fs-lg);
}

.fs-xl {
    font-size: var(--fs-xl);
}

.fs-4xl {
    font-size: var(--fs-4xl);
}

/*=============== DEFINE-ALL = COLOR-VALUE =========== */
.bg_yellow {
    background-color: var(--color-yellow);
}

.bg_light-green {
    background-color: var(--color-light-green);
}

.bg_dark-gray {
    background-color: var(--color-dark-gray);
}

.bg_gray {
    background-color: var(--color-gray);
}

.bg_light-blue {
    background-color: var(--color-light-blue);
}

.bg_green {
    background-color: var(--color-green);
}

.bg_white-gray {
    background-color: var(--color-white-gray);
}

.color_yellow {
    color: var(--color-yellow);
}

.color_light-green {
    color: var(--color-light-green);
}

.color_dark-gray {
    color: var(--color-dark-gray);
}

.color_gray {
    color: var(--color-gray);
}

.color_light-blue {
    color: var(--color-light-blue);
}

.color_green {
    color: var(--color-green);
}

.color_white-gray {
    color: var(--color-white-gray);
}


/* ============ LINE HEIGHT ============ */

.lh_100 {
    line-height: 100% !important;
}

.lh_120 {
    line-height: 120% !important;
}

.lh_140 {
    line-height: 140% !important;
}

.lh_160 {
    line-height: 160% !important;
}

.lh_180 {
    line-height: 180% !important;
}

.lh_200 {
    line-height: 200% !important;
}

/* ============ CUSTOM BUTTON ============= */
.common_btn,
.primary_btn {
    border-radius: 251px;
    padding: 12px 24px;
    font-weight: 600;
    font-size: var(--fs-base);
    line-height: 150%;
    transition: all 300ms linear;
}

.common_btn {
    border: 1px solid var(--color-light-black);
    background-color: white;
}

.primary_btn {
    border: 1px solid var(--color-purple);
}

.primary_btn:hover,
.common_btn:hover {
    box-shadow: inset 0px -54px 0px 0px black;
    color: white;
}

.common_btn:hover svg path {
    fill: white;
}

@media (max-width:767.98px) {

    .common_btn,
    .primary_btn {
        padding: 8px 18px;
    }
}